body {
    background-color: rgb(185, 183, 183);
}
.criminalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.criminal-card {
    display: flex;
   flex-wrap: wrap;
    border: 2px black dotted;
    text-align: left;
    padding: 1px 10px;
    margin: 5px;
    width: 300px;
    
}

ul {
    list-style-type: none;
}

.note {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 2em;
    border: 2px black dotted;
    color: red;
}

